

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
  }
  

  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  

  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

  .container {
    /* max-width: 1500px; */
    margin: 0 10rem 0 2rem;
    padding: 0 20px;
  }
  

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0062cc;
  }

       /* HERO */

  .hero-container{
    height: 100vh;
  }
  .hero-container img{
    height: 100vh;
  }

  .row{
    display: flex;
    flex-direction: row;
    height: 700px;

  }
  .column{
    display: flex;
    flex-direction: column;
  }

@import url(//db.onlinewebfonts.com/c/b8efc807de4361147855dd87d07cb12f?family=Ano+Stencil); 