@import "https://unpkg.com/open-props";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

  body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
  }
  

  h1 {
    font-size: 2em;
    font-family: Ano Stencil;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  p{
    font-family: Anybody;
    color: rgb(197, 197, 197);
  }
  a {
    color: #007bff;
    text-decoration: none;
  } 
  
  a:hover {
    text-decoration: underline;
    border: none;
  }
  

  .container {
    /* max-width: 1500px; */
    margin: 0 2rem;
    padding: 0 20px;
  }
  

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0062cc;
  }

       /* HERO */

  .hero-container{
    height: 100vh;
    background-image: url(pocetnablur.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    position: relative;
  }
  .hero-container i{
    font-size: 8rem;
    color: #3e3e3e58;

  }
  .hero-container a{
    position: absolute;
    bottom:1rem;
    margin: 0 auto;
  }

  .hero-container h1{
    font-size: 12rem;
    animation: pulsate 5s ease-out;
  animation-iteration-count: infinite;
  }
  .hero-container p{
    font-size: 3rem;
    color: #fff;
    overflow: hidden; 
    border-right: .15em solid rgb(255, 255, 255); 
    white-space: nowrap; 
    animation: typing 2.5s steps(40) 1;


  }
  section{
    background: linear-gradient(169.17deg, #E4E098 1.89%, rgba(154, 181, 139, 0.83) 21.15%, #477873 61.05%, #2D5652 91.61%);
    box-shadow: 0px -8px 8px 5px rgba(0, 0, 0, 0.15);
    height: 2500px;
  }
  .row{
    display: flex;
    flex-direction: row;
    height: 400px;
  }
  .row1{
    height: 330px;
    margin-bottom: 200px;
  }
  .row1 .column{
    margin: 0 10rem;
    font-size: 1.5rem;
  }
  .row1 h1{
    font-size: 5rem !important;
    margin-top: 6rem;
    margin-bottom: 20px;
  }
  .row1 p{
    text-align: center;
    font-size: 1.9rem;
   color: #fff;
   margin-bottom: 2rem;

  }
  .row2{
    height: 450px;
    gap: 3rem;
    margin: 2rem auto;
    padding-bottom: 3rem;
    bottom: 3rem;
    position: relative;

  }
  .row2 p, .row2 h1{
    text-align: right;
  }
  .row2 h1{
    font-size: 3.7rem ;
    text-align: justify;
  }
  .row2 p{
    font-size: 1.3rem;
    text-align: justify;
    color: white;
  }
  .row2 img{
    width: 830px;
    height: 430px;
    margin-left: 3rem;
  }
  .row2 button{
    font-size: 1.9rem;
    font-family: anybody;
    padding: 19px 23px;
    background-color:black;
    color: white;
  }
 

  .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }

  .button {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
    border-radius: 40px;
  }
  
  .button::before {
    content: "";
    position: absolute;
    left: 28px;
    bottom: 13px;
    width: 0;
    height: 2px;
    background-color: #f6f6f6;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    color: white;

  }
  .button:hover  span{
    position: relative;
    top: -2px;
    transition: 0.1s;
    font-size: 2rem;
  }
  .button:hover::before {
    width: 70%;
  }
  .row4{
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .walk1{
    width:102px;
  }
  .lik1,.lik2{
width: 105px;
height: 150px;
background-size: cover;
  }
  .lik1{
    width: 100px;
  height: 140px;
  background-size: cover;
    background-image: url(walk1-left.png);
    position: relative;
    right: 20px ;
    animation: lik1 3s infinite linear;
  }
  .lik1:hover{
    background-image: url(walk1.png);
  }
  .lik2:hover{
    background-image: url(boy-left.png);
  }
  .lik2{
    width: 110px;
  height: 160px;
  background-size: cover;
    background-image: url(boy-right.png);
  }
  .row4 a:hover + .lik2{
    background-image: url(boy-left.png);
  }
  .row4 a:hover + .lik1{
    background-image: url(walk1.png) !important;
  }

  .download-btn {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-5);
    /* color: var(--gray-8); */
    /* background: var(--gray-0); */
    color: white;
    background-color: transparent;
    border: 7px solid rgb(255, 255, 255);
    border-radius: 0;
    padding: var(--size-4) var(--size-8);
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    transition: transform 0.1s;
    position: relative;
  }
  
  .download-btn:hover {
    --y: -10;
    --scale: 1.1;
    --border-scale: 1;
    border: none;
    color: white;
    background-color: rgb(145, 74, 171);
  }
  
  .download-btn:active {
    --y: 5%;
    --scale: 0.9;
    --border-scale: 0.9, 0.8;
  }
  
  .download-btn:before {
    content: "";
    position: absolute;
    inset: calc(var(--size-3) * -1);
    border: var(--size-2) solid var(--gray-0);
    transform: scale(var(--border-scale, 0));
    transition: transform 0.125s;
    
    --angle-one: 105deg;
    --angle-two: 290deg;
    --spread-one: 30deg;
    --spread-two: 40deg;
    --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
    --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
    --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
    --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));
    
    mask: conic-gradient(
      transparent 0 var(--start-one),
      white var(--start-one) var(--end-one),
      transparent var(--end-one) var(--start-two),
      white var(--start-two) var(--end-two),
      transparent var(--end-two)
    );
    
    z-index: -1;
  }


  .zigzag {
    height: 10px;
    background: linear-gradient(
      to right,
      transparent 25%,
      #333 25%,
      #333 50%,
      transparent 50%,
      transparent 75%,
      #333 75%,
      #333
    );
  }
  

@import url(//db.onlinewebfonts.com/c/b8efc807de4361147855dd87d07cb12f?family=Ano+Stencil); 
@keyframes pulsate {
 
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1.0;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 46% }
}

@keyframes lik1 {
  0% {
    background-image: url(walk1-left.png);
  }
  50%{
    background-image: url(walk1.png);
  }
  100% { background-image: url(walk1-left.png);}

}